<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" 
   "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
   <!--Here contains all the bean declarations for this class  -->
<beans>
	<import resource="bean-definitions/message-registry-bean.xml"/>
</beans>